/* Navigation Styling */

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-color:#F4F6F8;
}

/* Header Layout */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#1F3A5F;
    padding:15px 40px;
}

/* Logo */

.logo{
    font-family:'Montserrat', sans-serif;
    font-size:28px;
    font-weight:bold;
    color:white;
}

/* Navigation List */

nav ul{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
}

/* Navigation Items */

nav li{
    margin-left:25px;
}

/* Navigation Links */

nav a{
    text-decoration:none;
    font-family:'Montserrat', sans-serif;
    font-size:16px;
    color:white;
    padding:8px 12px;
    transition:0.3s;
}

/* Hover Effect */

nav a:hover{
    background-color:#2CA6A4;
    border-radius:5px;
}